.main-container
{
    height: calc(100% - 100px);
    display: flex;

    .side-nav
    {
        width: 15%;
        min-width: 75px;
        min-height: calc(100vh - 75px);

        background-color: white;
        color: black;

        box-shadow: 5px 5px 5px rgb(180, 136, 143);

        @media only screen and (max-width: 1135px)
        {
            width: 75px;
        }
    }

    .main
    {
        background-color: pink;
        padding: 10px;

        width: 85%;

        @media only screen and (max-width: 1135px)
        {
            width: calc(100% - 75px);
        }
    }
}
