.app-container
{
    width: 100vw;
    height: 100vh;

    display: flex;

    .side-bar-container
    {
        width: 250px;

        background-color: pink;

        transition: width 0.3s ease;

        // pc com tela menor
        @media only screen and (max-width: 1100px)
        {
            width: 100px;
        }

        //mobile
        @media only screen and (max-width: 825px)
        {
            width: 0px;
        }
    }

    .main-container
    {
        width: calc(100vw - 250px);

        background-color: #D9D9D9;

        transform: width 0.3s ease;

        // pc com tela menor
        @media only screen and (max-width: 1100px)
        {
            width: calc(100vw - 100px);
        }

        // mobile
        @media only screen and (max-width: 825px)
        {
            width: 100vw;
        }
    }
}