<div class = "top-blocks">
    
    <div class = "block">

        <div class = "block-icon">
            <fa-icon [icon] = "faUser"></fa-icon>
        </div>

        <div class = "block-text">

            <div class = "block-text-value">
                <span>5</span>
            </div>

            <div class = "block-text-text">
                <span>Clientes</span>
            </div>

        </div>

    </div>

    <div class = "block">

        <div class = "block-icon">
            <fa-icon [icon] = "faUser"></fa-icon>
        </div>

        <div class = "block-text">

            <div class = "block-text-value">
                <span>5000</span>
            </div>

            <div class = "block-text-text">
                <span>Documentos</span>
            </div>

        </div>

    </div>

    <div class = "block">

        <div class = "block-icon">
            <fa-icon [icon] = "faUser"></fa-icon>
        </div>

        <div class = "block-text">

            <div class = "block-text-value">
                <span>16009</span>
            </div>

            <div class = "block-text-text">
                <span>Páginas</span>
            </div>

        </div>

    </div>

</div>