<div class = "block-container">

    <div class = "block one">

        <div class = "icon">
            <fa-icon [icon] = "faUser"></fa-icon>
        </div>

        <div class = "value">
            <div class = "value-value">5</div>
            <div class = "value-tag"><span>Clientes</span></div>
        </div>

    </div>

    <div class = "block two">

        <div class = "icon">
            <fa-icon [icon] = "faUser"></fa-icon>
        </div>

        <div class = "value">
            <div class = "value-value">5</div>
            <div class = "value-tag"><span>Clientes</span></div>
        </div>

    </div>

    <div class = "block three">

        <div class = "icon">
            <fa-icon [icon] = "faUser"></fa-icon>
        </div>

        <div class = "value">
            <div class = "value-value">5</div>
            <div class = "value-tag"><span>Clientes</span></div>
        </div>

    </div>
</div>