.side-nav-container
{
    padding-top: 25px;

    .nav-item
    {
        padding: 25px 25px;
        cursor: pointer;

        &:hover
        {
            background-color: lightgray;
            color: pink;
        }

        fa-icon
        {
            margin-right: 20px;
            font-size: 22px;

            @media only screen and (max-width: 1135px)
            {
                display: flex;
                justify-content: center;

                margin-right: 0px;
            }
        }

        span
        {
            @media only screen and (max-width: 1135px)
            {
                display: none;
            }
        }
    }
}