*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Exo", sans-serif;
    background-color: white;
    font-size: 22px;
}

.rosa
{
    --rosa1: #ED1C91;

    --rosa2: #65003D;
    --rosa3: #900158;
    --rosa4: #C10075;
    --rosa5: #E00188;
}